*.DS_Store
*.project
backend/assets/*
backend/protected/runtime/*
backend/protected/cache/*
frontend/assets/*
frontend/protected/runtime/*
frontend/protected/cache/*
backend/.htaccess
frontend/.htaccess
backend/index-test.php
frontend/index-test.php
resources/*
avatar/*
thumbs/*