*.DS_Store
*.project
backend/assets/*
backend/protected/runtime/*
frontend/assets/*
frontend/protected/runtime/*
backend/index-test.php

frontend/index-test.php

backend/protected/config/test.php

backend/protected/runtime/application.log

common/define-test.php

frontend/.htaccess

frontend/protected/runtime/application.log

backend/protected/runtime/application.log

frontend/.htaccess

common/define-test.php
