/* 
Author: 			Stefan Vervoort
Author URI: 		http://www.divitomedia.com/
Version:			1.0

Project:			
Description:					

---------------------------------------------------------------------------------------
TABLE OF CONTENTS

	-- BASICS
	-- NAVIGATION MENU
	-- STRUCTURE
	-- CUSTOM
	-- 
	-- 
	
---------------------------------------------------------------------------------------

/* ------------------------------------------------------------------------------------
BASICS						 */

	html{					font-size:100%;	}
	body{					font-size:62.5%; color:#000; font-family:Helvetica, Arial, sans-serif; }
		
	a{						text-decoration:underline; color:#000; }
	a:hover	{				text-decoration:none; font-size:#333; }
	a:active{				outline:0;}
	a:visited{				}
	a.top{					padding-left:10px; }

	.left{					float:left!important; }
	.right{					float:right!important; }
	.clear{					clear:both; }
	
	img.left{				margin:0 1em 1em 0; }
	img.right{				margin:0 0 1em 1em; }
	
	.padding{				padding:10px; }
	#content p{				margin:1.1em 0; }
	
	h1{						font-size:2em; color:000; font-weight:bold; }
	h2{						font-size:1.2em; color:#000; font-weight:bold; }
	h3{						font-size:1em; color:#333; font-weight:bold; }
	h4{						font-size:1em; color:#000; font-weight:normal; }
	
	em{						color:#333; }
	strong{					color:#000; }

/* ------------------------------------------------------------------------------------
NAVIGATION MENU				 */

	#navigation{						margin:10px 0; }
	#navigation ul {					padding:0;	margin:0; list-style:none; line-height:1; float:left;	}

	#navigation a {						display:block; padding:6px 10px; text-decoration:none;	}
	#navigation a:hover{				text-decoration:underline; padding:6px 10px; }

	#navigation li{						padding:0; margin:0; float:left; width:auto;	 }
	#navigation li ul li{				padding:1px 0px;}
	#navigation li ul li a{				padding:6px 10px; width:110px; }
	#navigation li ul { 				position:absolute; padding-top:1px; width:130px; left:-999em; }
	#navigation li ul ul {				margin: -1.5em 0 0 130px;	}
	
	#navigation li:hover ul ul, #navigation li:hover ul ul ul, #navigation li.sfhover ul ul, #navigation li.sfhover ul ul ul {	left: -999em;	}
	#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, 
	#navigation li.sfhover ul, #navigation li li.sfhover ul, #navigation li li li.sfhover ul { left: auto;	}


/* ------------------------------------------------------------------------------------
STRUCTURE					 */

	#container{				overflow:hidden; font-size:1.5em; }
	#header{				}
		img.logo{			}
	#footer{				clear:both; padding:40px 0; font-size:1.4em; margin-top:21px; }
	#content{				}
	#right{					}
	#left{					}


/* ------------------------------------------------------------------------------------
CUSTOM						 */


































